body {
  background-color: hsl(0, 0%, 86%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 58%;
  height: 68%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px hsl(0, 0%, 86%);
  border-radius: 30px 30px 150px 30px;
  background-color: white;
}

.input {
  width: 84%;
  height: 27%;
  border-bottom: solid 1px hsl(0, 0%, 86%);
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: hsl(0, 1%, 44%);
  display: flex;
  justify-content: space-between;
}

input[type="number"] {
  width: 80%;
  height: 45%;
  border: solid 1px hsl(0, 0%, 86%);
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  padding: 30px 20px 30px 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.forms {
  display: flex;
  padding-top: 3%;
  width: 60%;
}

.form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
}

label {
  letter-spacing: 0.3rem;
  margin-bottom: 10px;
}

svg {
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
  padding: 20px;
  display: block;
  position: absolute;
  right: 5%;
  top: 25%;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 84%;
  height: 61%;  
  font-size: 100px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-style: italic;
  padding-top: 2%;
}

.display-text {
  line-height: 1.1;
}

@media only screen and (max-width: 1200px) { 
  .display {
    font-size: 72px;
  }
}

@media only screen and (max-width: 768px) { 
  .display {
    font-size: 60px;
  }
  svg {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 10px;
    display: block;
    position: absolute;
    right: 40%;
    top: 27.5%;
  }
  .forms {
    width: 100%;
  }
  input[type="number"] {
    height: 30%;
    width: 90%;
    font-size: 24px;
  }
}